body {
	box-sizing: border-box;
	margin: 0;
	padding: 0.25em;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}
#wrapper {
	position: relative;
}
#title {
	font-size: 3.5em;
}
#description {
	font-size: 1.5em;
}
#tooltip {
	opacity: 0;
	pointer-events: none;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: rgba(255, 255, 204, 0.9);
	border-radius: 12px;
	padding: 0.25rem;
}
#movie, #category, #value {
	margin: 0.25rem;
}
